<%= render "layouts/header" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>title:</strong>
  <%= @list.title1 %>
</p>

<p>
  <strong>title:</strong>
  <%= @list.title2 %>
</p>

<p>
  <strong>title:</strong>
  <%= @list.title3 %>
</p>

<p>
  <strong>title:</strong>
  <%= @list.title4 %>
</p>

<p>
  <strong>title:</strong>
  <%= @list.title5 %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
